body{
	font-family: "Dosis", sans-serif; 
	font-weight: 400;
}

.topheaderpage{
	background-color:#003049;
	padding:10px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #003049;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
	position: relative;
	top: 25%; 
	width: 100%; 
	text-align: center; 
	margin-top: 30px; 
	font-family: "IBM Plex Sans", sans-serif;  
	font-weight: 400;
}
 .navbarmenu h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Antic Didone", serif;
  color: white;
}
.navbarmenu img{
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
  font-family: "Antic Didone", serif;
  color: #003049;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover{
  color: blue;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.header {
  padding: 12.5rem ;
  margin: 1.25rem; 
  text-align: Center;
  color: #003049;
  background-image: url('Images/pattern.png');
  background-size: cover; 
  background-position: center; 
  font-family: "Antic Didone", serif;
}

.header h1 {
  font-size: 3rem; 
  font-family: "Antic Didone", serif;
}



a.button {
  border: 2px solid #003049;
  color: #003049;
  background-color: #B8D2E4; 
  text-align: center;
  font-size: 20px;
  padding: 22px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 1.25rem; 
  box-shadow: 2px 4px #003049;
  font-weight: bold; 
  margin-left: 4rem; 
  text-decoration: none;
  border: 0; 
  width: fit-content; 
}

a.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

a.button:hover span {
  padding-right: 25px;
}

a.button:hover span:after {
  opacity: 1;
  right: 0;
}

.factcards-container {
  display: flex;
  justify-content: space-around; /* Adjusts spacing between cards */
  flex-wrap: wrap; /* Allows cards to wrap in smaller screens */

}
.factcard {
  width: 320px; 
  height: 300px; 
  margin: 10px; 
  padding: 20px; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color:#B8D2E4;
  box-shadow: 5px 10px #003049;
  font-size: 25px;
  font-family: "IBM Plex Sans", sans-serif;  
  font-weight: 400;	
  margin-top: 12px;
  color:#003049;
  text-align:center;
}

.factnumber{
	font-size:50px;
}

.factcard span{
	text-decoration: underline red;
}

.explore{
	font-family: "Antic Didone", serif;
	text-align: center;
	margin-top: 70px;
	  color:#003049;
	font-size:2rem;
}


.content-block {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}

.content-block.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to final position */
}

.content-block {
  color: #003049;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 0 auto 2rem; 
  font-family: "IBM Plex Sans", sans-serif;  
  font-weight: 400;
  max-width: 70rem; 
  font-size:20px;
}

.text h2 {
  font-family: "Antic Didone", serif;
}
.picture img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.picture, .text {
  flex: 1;
}

.morebutton { 
 background: #B8D2E4; 
 box-sizing: border-box; 
 color: #FFFFFF; 
 font-size: 20px; 
 opacity: 1; 
 outline: 0 solid transparent; 
 padding: 8px 18px; 
 width: fit-content; 
 word-break: break-word; 
 border: 0; 
 font-family: "Antic Didone", serif;
 box-shadow: 2px 4px #003049;
 font-weight: bold; 
}

.morebutton a{
  text-decoration: none;
  color: #003049; 

}
@media screen and (min-width:1000px){
.content-block{
	flex: 1 1 auto; /* Flex-grow, flex-shrink, flex-basis */
  max-width: calc(70% - 5rem); /* Adjust max-width as needed, accounting for any gap */
}
.content-block:nth-child(odd) .picture {
  order: 1;
}

.content-block:nth-child(odd) .text {
  order: 2; 
  padding-left: 4rem; 
}

.content-block:nth-child(even) {
  flex-direction: row-reverse; 
}

.content-block:nth-child(even) .text {
  padding-right: 4rem; 
}
}
@media screen and (max-width:1000px) {
  .content-block {
    flex-direction: column;
    padding: 0;
  }

  .content-block .picture, 
  .content-block .text {
    order: 0;
    padding: 0;
    flex-direction: column;
  }

  .content-block .picture {
    margin-bottom: 1rem;
  }

  .content-block .text {
    width: 100%;
    padding: 0 1rem;
    font-size: 50px;
  }

  .morebutton {
    padding: 100px;
	font-size: 3rem;
	text-align:Center;
	content-align: center;
  }
}

.scroll-top {
  position: fixed; 
  bottom: 3rem; 
  right: 2rem; 
  display: block;
}

section {
  height: 300vh; 
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #003049;
  color: white;
  font-family: "Antic Didone", serif;
  font-size: 1.25rem;
  font-weight:500;
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  footer {
    padding: 20px; /* Increase padding for better touch interaction */
  }

  footer a {
    font-size: 2rem; /* Increase font size for better readability */
    padding: 15px 5px; /* Increase vertical padding */
  }
}
