body{
	color:#023047;
	margin: 0;
}
.topherosectionpage{
	background-color:#023047;
	padding:10px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #023047;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
	position: relative;
	top: 25%; 
	width: 100%; 
	text-align: center; 
	margin-top: 30px; 
  font-family: "Oswald", sans-serif; 
	font-weight: 400;
}
 .navbarmenu h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 font-family: "Oswald", sans-serif;  
 color: white;
}
.navbarmenu a{ 
  text-decoration:none;
}
.navbarmenu img{
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
 font-family: "Oswald", sans-serif;  
 color: #023047;
 right: -2rem; 
bottom: -2rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover{
  color: #219ebc;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.herosection {
  color: #023047;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 0 auto 2rem; 
  padding: 5rem ;
  color: #023047;
 font-family: "Oswald", sans-serif;  
 padding-left: 4rem; 
  margin:50px;

}
.herosection img{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.herosection h1 {
  font-size: 3rem; 
   font-family: "Oswald", sans-serif; 
}

.herosection p{
font-family: "Montserrat", sans-serif;  
font-size: 1.5rem; 
}
.herosection img, .herosection h1 {
  flex: 1;
}

@media screen and (min-width:1000px) {
.herosectiontext {
  order: 1;
}

.coverimg {
  order: 2; 
}
}

@media screen and (max-width: 600px) {
  .herosection {
    padding: 3rem 1rem;
  }
}
@media screen and (max-width:1000px) {
  .herosection {
    flex-direction: column;
    padding: 0;
	text-align:Center;
	content-align: center;
  }

}

footer {
  text-align: center;
  padding: 5px;
  background-color: #023047;
  color: white;
  font-size: 1.5rem;
  font-weight:500;
  font-family: "Oswald", sans-serif; 
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}
footer a:hover{
	  background-color: #0E4C5F;
}

@media screen and (max-width: 600px) {
  footer {
    padding: 20px; 
  }

  footer a {
    font-size: 1.5rem; 
  }
}

}
