body{
	color:#023047;
	margin: 0;
	
}
p{
		font-family: "Montserrat", sans-serif;  
}

.topheaderpage{
	background-color:#023047;
	padding:10px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #023047;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
	position: relative;
	top: 25%; 
	width: 100%; 
	text-align: center; 
	margin-top: 30px; 
  font-family: "Oswald", sans-serif; 
	font-weight: 400;
}
 .navbarmenu h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 font-family: "Oswald", sans-serif;  color: white;
}
.navbarmenu a{ 
  text-decoration:none;
}
.navbarmenu img{
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
 font-family: "Oswald", sans-serif;  
 color: #023047;
 right: -2rem; 
bottom: -2rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover{
  color: #219ebc;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

 .section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  margin-bottom:1rem;
}

 .section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
  
  .text-content, .video-content {
    width: 100%;  
  }
 
}
.herosection {
  color: #023047;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 0 auto 2rem; 
  padding: 5rem ;
  color: #023047;
 font-family: "Oswald", sans-serif;  
 padding-left: 4rem; 
  margin:50px;


}
.herosection img{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.herosection h1 {
  font-size: 3rem; 
   font-family: "Oswald", sans-serif; 
}
.herosection img, .herosection h1 {
  flex: 1;
}
.herosection p{
	font-family: "Montserrat", sans-serif;  
  font-size: 1.5rem; 
}


@media screen and (min-width:1000px) {
.herosectiontext {
  order: 1;
}

.coverimg {
  order: 2; 
}
}

@media screen and (max-width: 600px) {
  .herosection {
    padding: 3rem 1rem; 
  }
}
@media screen and (max-width:1000px) {
  .herosection {
    flex-direction: column;
    padding: 0;
	text-align:Center;
	content-align: center;
  }

}
.section h1{
	text-align:center;
  font-family: "Oswald", sans-serif;	  color: #023047;

}
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: auto;
  
}

.card {
  width: 19rem; 
  height: auto;
  margin: 0.625rem; 
  padding: 0.9375rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.3125rem 0.625rem #023047; 
  border-style: solid;
  border-width: medium;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #023047;
  background-color:white;
}

.card img {
  width: 9.375rem; 
  height: auto;
  margin-bottom: 0.9375rem; 
}

summary {
	 font-family: "Oswald", sans-serif;
	 font-size: 24px; 
	 font-weight: bold; 
	 margin-bottom: 10px
}
.symbolscard{
  width: 19rem; 
  height: auto;
  margin: 0.625rem; 
  padding: 0.9375rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.3125rem 0.625rem #023047; 
  border-style: solid;
  border-width: medium;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #023047;
	text-align:center;
}

.symbolscard img {
  width: 9.375rem; 
  height: auto;
  margin-bottom: 0.9375rem; 
}

h2{
	     color:#023047;
}
.QuestionseHealths-container {
  display: grid;
   padding: 25px; 
   display: flex;
   flex-direction: column;
  gap: 12px; 
  margin: 12px; 
    font-family: "Montserrat", sans-serif;       
	color:#023047; 
}

.QuestionseHealth {
  position: relative;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  box-shadow: 2.5px 5px #023047;
  border-style: solid;
  border-width: medium;
  font-size:1.5rem;
  background-color:white;
}

.section h1 {
  margin-bottom: 10px; 
 font-family: "Oswald", sans-serif;
 }
.section h2 {
 font-family: "Oswald", sans-serif;
 }
.section h3 {  
 font-family: "Oswald", sans-serif;  
 color:#023047;
}
.section:nth-child(odd) {
    background-color:#CFE2EB;
}
.section{
	padding:10px;
}


.Resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.resourcescardss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
}

.resourcescards {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.3125rem 0.625rem #023047; 
  width: 240px; 
  font-family: "Montserrat", sans-serif;       
  font-size: 20px;
  border-style: solid;
  border-width: medium;
}

.resourcescards img {
  width: 100%; 
  margin-bottom: 10px;
}

.resourcescards a {
  padding: 10px;
  text-align: center;
  width: 100%; 
  display: block; 
  text-decoration: none;
  color: #023047; 
  font-weight:bold;
}

#resources p{
	font-family: "Montserrat", sans-serif;  
  font-size: 1.25rem; 
    font-weight:bold;

}

#resources{
	margin-bottom:20px;
}	

.scroll-top {
  position: fixed; 
  bottom: 3rem; 
  right: 2rem; 
  display: block;
}

section {
  height: 300vh; 
}

 .button-link {
            display: inline-block;
            margin: 5px;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
        }
        .button-link:hover {
            background-color: #0056b3;
        }


footer {
  text-align: center;
  padding: 5px;
  background-color: #023047;
  color: white;
  font-size: 1.5rem;
  font-weight:500;
  font-family: "Oswald", sans-serif; 
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}
footer a:hover{
	  background-color: #0E4C5F;
}

@media screen and (max-width: 600px) {
  footer {
    padding: 20px; 
  }

  footer a {
    font-size: 1.5rem; 
  }
}

}

