body {
    color: #156669;
     font-family: "Dosis", sans-serif; 
	 font-weight: 400; /* Ensures consistency in typography */
	 font-size: 1.5rem;
}

.topheaderpage {
    background-color: #156669;
    padding: 10px;
}

/* The Overlay (background) */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #156669;
    overflow-x: hidden;
    transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin */
 font-family: "Dosis", sans-serif; font-weight: 500;}

.header-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Antic Didone", serif;
    color: white;
}

.header-container img {
    display: flex;
    align-items: left;
    justify-content: left;
    position: relative;
    font-family: "Antic Didone", serif;
    color: #156669;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.header {
    padding: 12rem 4rem;
    text-align: center;
    color: #156669;
    background-image: url('disable.jpg');
    background-size: cover;
    background-position: center;
 font-family: "Dosis", sans-serif; font-weight: 400;}

.header h1 {
    font-size: 3rem;
    font-family: "Antic Didone", serif;
}

@media (max-width: 600px) {
    .header {
        padding: 3rem 1rem;
    }
  
    .header h1 {
        font-size: 2rem;
        font-family: "Antic Didone", serif;
    }
}

/* Adjusted section styling for alternating backgrounds and transitions */
.section {
    padding: 200px;
    transition: all 0.5s ease-out; /* Smooth transition for any change */
    text-align: center;
}

.section h1 {
    font-family: "Antic Didone", serif;
}

/* Alternating section backgrounds */
.section:nth-child(odd) {
    background-color: #B8D2E4;
    text-align: left;
}

.section:nth-child(even) {
    background-color: white;
    text-align: right;
}


footer {
    text-align: center;
    padding: 5px;
    background-color: #156669;
    color: white;
 font-family: "Dosis", sans-serif; font-weight: 400;}

footer a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

@media (max-width: 600px) {
    footer {
        padding: 20px;
    }

    footer a {
        font-size: 2rem;
        padding: 15px 5px;
    }
}
