body {
    font-family: Arial, sans-serif;
	text-align: center;
  color: #023047;
  background-image: url('images/quizbackground.png'); /* Set the background image */
  background-size: cover; /* Ensure the image covers the whole area */
  background-position: center; /* Center the background image */
   font-family: "Dosis", sans-serif; font-weight: 400;
}

.topheaderpage{
	background-color:#156669;
	padding:10px;
	margin-bottom: 10px;
}

.content {
  padding: 2px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #156669;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
	position: relative;
	top: 25%; 
	width: 100%; 
	text-align: center; 
	margin-top: 30px; 
	font-family: "Dosis", sans-serif; 
	font-weight: 400;
}
 .header-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Antic Didone", serif;
  color: white;
}

.header-container img{
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
  font-family: "Antic Didone", serif;
  color: #156669;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: blue;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
	background-color:#F8E4DC;
	font-family: "Dosis", sans-serif; font-weight: 400;
box-shadow: 5px 10px #156669;
}

.question p {
    font-weight: bold;
}

.question label {
    margin-left: 10px;
}

#result p {
    color: green;
    font-size: 20px;
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #156669;
  color: white;
  font-family: "Antic Didone", serif;
  font-size:2rem;
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}

/* Media query for screens that are 600px wide or less */
@media (max-width: 600px) {
  footer {
    padding: 20px; /* Increase padding for better touch interaction */
  }

  footer a {
    font-size: 16px; /* Increase font size for better readability */
    padding: 15px 5px; /* Increase vertical padding */
  }
}

