body{
	color:#023047;
	margin: 0;
	font-family:"oswald", sans-serif;
}
.topherosectionpage{
	background-color:#023047;
	padding:10px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #023047;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
	position: relative;
	top: 25%; 
	width: 100%; 
	text-align: center; 
	margin-top: 30px; 
  font-family: "Oswald", sans-serif; 
	font-weight: 400;
}
 .navbarmenu h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 font-family: "Oswald", sans-serif;  
 color: white;
}
.navbarmenu a{ 
  text-decoration:none;
}
.navbarmenu img{
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
 font-family: "Oswald", sans-serif;  
 color: #023047;
 right: -2rem; 
bottom: -2rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover{
  color: #219ebc;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.question .feedback {
    display: none;
}

.correct-answer::after {
    content: "  Correct, well done!";
    color: green;
}

.wrong-answer::after {
    content: "  Wrong answer, try again!";
    color: red;
}
.correct-answer {
    background-color: lightgreen;
}

.wrong-answer {
    background-color: lightcoral;
}

.quiz-container {
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    margin: auto;  
}

.quiz-container h1 {
    font-family: 'Oswald', sans-serif;
	text-align:center;

}
.question{
 padding:10px;
  transition: background 0.3s ease;
  box-shadow: 2.5px 5px #023047;
  border-style: solid;
  border-width: medium;
  background-color:white;
  margin-bottom: 2rem;
}
	
.question p {
    font-size: 2em;
}

.question label {
    display: flex;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s ease;
  align-items: center; 
  box-shadow: 2.5px 5px #023047;
  border-style: solid;
  border-width: medium;
  font-size:1.5rem;
  background-color:#CFE2EB;
  
}

.question input[type="radio"] {
    margin-right: 10px;
}

.question label:hover {
    background: #81B8D1;
}

 .option input:checked + .wrong {
  background-color: red;
  color: white;
}

.option input:checked + .correct {
  background-color: green;
  color: white;
}


button {
   background-color: #CFE2EB; 
 box-sizing: border-box; 
 color: #023047; 
 font-size: 20px; 
 opacity: 1; 
 outline: 0 solid transparent; 
 padding: 8px 18px; 
 width: fit-content; 
 word-break: break-word; 
 border: 0; 
  font-family: "Oswald", sans-serif;
  box-shadow: 2px 4px #023047;
 font-weight: bold; 
 margin: 2px;
 text-align:center;
}

button:hover {
    background-color: #45a049;
}
.submit-button{
	  align-items: center;
	  text-align:center;
}
#result {
    color: #333;    
    background: #f9f9f9;  
    border: 1px solid #ddd; 
    padding: 10px; 
    margin-top: 20px; 
    text-align: center; 
    font-size: 1.25rem;   
    font-weight: bold;    
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #023047;
  color: white;
  font-size: 1.5rem;
  font-weight:500;
  font-family: "Oswald", sans-serif; 
}

footer a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}
footer a:hover{
	  background-color: #0E4C5F;
}

@media screen and (max-width: 600px) {
  footer {
    padding: 20px; 
  }

  footer a {
    font-size: 1.5rem; 
  }
}

}
